body {
    background-color: black;
    color: white;
}

#container {
    width: 700px;
    margin: 0 auto;
}

.room {
    text-transform: capitalize;
}

.chat-input {
    width: 300px;
    height: 35px;
    border: solid 1px #555;
    background-color: #444;
    border-radius: 5px;
}

.chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
    border-radius: 5px;
}

.submit {
    width: 50px;
    height: 25px;
    border: solid 1px #444;
    border-radius: 5px;
}

.user-input {
    background-color: #444;
}

.user-disconnect {
    width: auto;
    height: 35px;
    border: solid 1px #444;
    border-radius: 5px;
}

.disconnect {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    width: auto;
    overflow: auto;
    text-align: center;
}

.chat-window {
    height: 300px;
    width: 490px;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-submit {
    width: 50px;
    height: 25px;
    border: solid 1px #444;
    border-radius: 5px;
}

#login-form {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
}

#chatSection {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
    border-top-right-radius: 0px;
}

.userSection {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.user-list {
    height: auto;
    width: 200px;
    overflow: auto;
}

.time {
    color: blue;
}

.render-message {
    display: inline-block;
}

.channels-login {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    overflow: auto;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.channels {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    overflow: auto;
    text-align: center;
}

.chat-room {
    width: auto;
    height: 35px;
    border: solid 1px #444;
    border-radius: 5px;
}

.chat-room-selected {
    width: auto;
    height: 35px;
    border: solid 1px green;
    border-radius: 5px;
}

.login-page {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    width: 200px;
}

.error-message {
    float: left;
    color: red;
    -webkit-animation-name: flash;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    -moz-animation-name: flash;
    -moz-animation-duration: .3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 3;
    animation-name: flash;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1.0;
    }
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    text-align: center;
}

#join {
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    overflow: auto;
    text-align: center;
    align-content: center;
}