#container {
    width: 700px;
    margin: 0 auto;
}

.chat-input {
    width: 300px;
    height: 35px;
    border: solid 1px #444;
}

.chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
}

.user-submit {
    width: 50px;
    height: 25px;
    border: solid 1px #444;
    border-radius: 5px;
}

.user-disconnect {
    width: auto;
    height: 25px;
    border: solid 1px #444;
    border-radius: 5px;
}

.chat-window {
    height: 300px;
    width: 400px;
    overflow: auto;
}

#chatSection {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
}

.userSection {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
}

.user-list {
    height: auto;
    width: 200px;
    overflow: auto;
}

.time {
    color: blue;
}

.render-message {
    display: inline-block;
}

.channels {
    float: left;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    overflow: auto;
    text-align: center;
}

.chat-room {
    width: auto;
    height: 35px;
    border: solid 1px #444;
}

.login-page {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 30%;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    text-align: center;
}

#join{

    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    overflow: auto;
    text-align: center;
    align-content: center;
}
